In [10]:
import pandas as pd
path = r"C:\Users\Zhaobin\Desktop\Didi\Git\data_output\waiting_of_idle\waiting_idle_20171109.csv\waiting_idle_20171109.csv"

In [11]:
df = pd.read_csv(path)

In [12]:
df.head()

,phone,current_lng,current_lat,current_time,idle_id,time_diff,dist,waiting_id
0,13001005365,116.417288,39.988092,2017-11-09 17:00:12,17597057422565,3.0,0.025164,1
1,13001005365,116.417288,39.988092,2017-11-09 17:00:15,17597057422565,3.0,0.006103,1
2,13001005365,116.417288,39.988092,2017-11-09 17:00:18,17597057422565,3.0,0.018923,1
3,13001005365,116.417288,39.988092,2017-11-09 17:00:21,17597057422565,3.0,0.019207,1
4,13001005365,116.417289,39.988092,2017-11-09 17:00:24,17597057422565,3.0,0.012963,1